body {
  background: black;
  color: pink; }

.mocho-face {
  width: auto;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  line-height: 100%; }
